// Font
$mainFont: 'Montserrat', Helvetica, Arial, sans-serif;

// Size
$mainFontColor: #101010;
$mainFontSize: 18px;
$mainFontWeight: 400;
$mainLineHeight: 1.4;

$desktopWidth: 1200px;
$smDesktopWidth: 992px;
$tableWidth: 768px;
$phoneWidth: 480px;
$smPhoneWidth: 320px;

// Main color
$default-color: #ffffff;
$primary-color: #444ce0;
$dark-color: #333333;
$success-color: #57b55d;
$success-color-darker: #375c30;
$danger-color: #fc5c65;
$warning-color: #fed330;
$light-color: #999999;
$purple-color: #8854d0;

// Neutral Color
$neutral-primary: #303133;
$neutral-regular: #606266;
$neutral-secondary: #909399;
$neutral-placeholder: #c0c4cc;

// Border Color
$border-base: #dcdfe6;
$border-light: #f2f2f3;
$border-lighter: #ebeef5;
$border-lightex: #f2f6fc;
